networks:
  network-a:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24
  network-b:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.2.0/24

services:
  router:
    build: root
    command: sh -c "python main.py"
    working_dir: /app
    networks:
      network-a:
        ipv4_address: 192.168.1.2
      network-b:
        ipv4_address: 192.168.2.2
    volumes:
      - type: bind
        source: root
        target: /app
    expose:
      - 1024
  site-a:
    build: site
    command: sh -c "python main.py A 192.168.1.2"
    working_dir: /app
    depends_on: 
      - router
    networks:
      network-a:
        ipv4_address: 192.168.1.3
    volumes:
      - type: bind
        source: site
        target: /app
    expose:
      - 1024
  site-b:
    build: site
    command: sh -c "python main.py B 192.168.2.2"
    working_dir: /app
    depends_on: 
      - router
    networks:
      network-b:
        ipv4_address: 192.168.2.3
    volumes:
      - type: bind
        source: site
        target: /app
    expose:
      - 1024